.every-product {
  text-align: center;
}

.products-e { 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 35px;
  row-gap: 40px;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px; 
}

.products { 
  text-align: center;
  background-color: whitesmoke;
  border: solid #1BA098;
  border-radius: 20px;
}

.products:hover {
  background-color:#f5fafd;
  transition: ease-in-out 300ms; 
}

.product-picture { 
  max-width: 100%;
}

.product-picture img {
  width: 300px;
}

.product-details {
  display: grid;
  grid-template-rows: 1fr;
  width: 400px;
  text-align: center;
  margin-bottom: 5px;
  line-height: 28px;
}

.product-title {
  font-size: 21px;
  font-weight: bold;
  color: #051622;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.product-price {
  color: #051622;
  font-size: 21px;
  font-weight: bold;
  display: inline-block;
  text-align: center; 
}

.button-style {
  display: grid;
  grid-template-columns: 110px 110px;
  justify-content: center;
  column-gap: 100px;
}

.details-button,
.buy-button {
  cursor: pointer;
  margin-top: 20px;
  background-color: whitesmoke;
  border: 2px solid #051622;
  border-radius: 8px;
  color: #051622;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}

.details-button:hover,
.buy-button:hover {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  background-color: #e6f2fb;
  border-color: #051622;
  color: #051622;
  transition: 300ms;
}

@media only screen and (max-width: 850px) {
  .every-product {
    text-align: center;
  }
  
  .products-e { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 35px;
    row-gap: 40px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px; 
  }
  
  .products { 
    text-align: center;
    background-color: whitesmoke;
    border: solid #1BA098;
    border-radius: 20px;
  }
  
  .products:hover {
    background-color:#f5fafd;
    transition: ease-in-out 300ms; 
  }

  .product-picture { 
    max-width: 100%;
  }

  .product-picture img {
    width: 300px;
  }

  .product-details {
    display: grid;
    grid-template-rows: 1fr;
    width: 400px;
    text-align: center;
    margin-bottom: 5px;
    line-height: 28px;
  }
  
  .product-title {
    font-size: 21px;
    font-weight: bold;
    color: #051622;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
  }
  
  .product-price {
    color: #051622;
    font-size: 21px;
    font-weight: bold;
    display: inline-block;
    text-align: center; 
  }
  
  .button-style {
    display: grid;
    grid-template-columns: 110px 110px;
    justify-content: center;
    column-gap: 100px;
  }
  
  .details-button,
  .buy-button {
    cursor: pointer;
    margin-top: 20px;
    background-color: whitesmoke;
    border: 2px solid #051622;
    border-radius: 8px;
    color: #051622;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
  }
  
  .details-button:hover,
  .buy-button:hover {
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
    background-color: #e6f2fb;
    border-color: #051622;
    color: #051622;
    transition: 300ms;
  }}


  @media only screen and (max-width: 436px) {
    .every-product {
      text-align: center;
      display: grid; 
    }
    
    .products-e { 
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 35px;
      row-gap: 40px;
      margin-top: 30px;
      margin-left: 10px;
      margin-right: 10px; 
    }
    
    .products { 
      text-align: center;
      background-color: whitesmoke;
      border: solid #1BA098;
      border-radius: 20px;
    }
    
    .products:hover {
      background-color:#f5fafd;
      transition: ease-in-out 300ms; 
    }

    .product-picture { 
      max-width: 100%;
    }

    .product-picture img {
      width: 300px;
    }

    .product-details {
      display: grid;
      grid-template-rows: 1fr;
      width: 400px;
      text-align: center;
      margin-bottom: 5px;
      line-height: 28px;
    }
    
    .product-title {
      font-size: 21px;
      font-weight: bold;
      color: #051622;
      text-decoration: none;
      margin-top: 10px;
      display: inline-block;
      text-align: center;
      cursor: pointer;
    }
    
    .product-price {
      color: #051622;
      font-size: 21px;
      font-weight: bold;
      display: inline-block;
      text-align: center;
    }
    
    .button-style {
      display: grid;
      grid-template-columns: 110px 110px;
      justify-content: center;
      column-gap: 100px;
    }
    
    .details-button,
    .buy-button {
      cursor: pointer;
      margin-top: 20px;
      background-color: whitesmoke;
      border: 2px solid #051622;
      border-radius: 8px;
      color: #051622;
      font-size: 18px;
      font-weight: bold;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
    }
    
    .details-button:hover,
    .buy-button:hover {
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
      background-color: #e6f2fb;
      border-color: #051622;
      color: #051622;
      transition: 300ms;
      
    }}